body {
  font-family: fantasy, sans-serif;
  margin-top: 60px;
}

.btn-lg {
  background-color: #d8bfd8;
  font-size: 20px;
  width: 30%;

  @media (max-width: 576px) {
    width: 50%;
  }
}

.pokemon-image {
  height: auto;
  width: 50%;
}
